body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  background-color: #ACD6E7;
}

.likeabutton {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none; font: menu; color: ButtonText;
  display: inline-block; padding: 2px 8px;
}

.input-and-output > div {
  display: table-cell;
  vertical-align: middle;
}